<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>WeatherApp cần vị trí của bạn để hiển thị thời tiết khu vực.</string>
</dict>
</plist>
